/* Remove this when the schedule gets put back in! */
.top-card {
    margin-top: calc(100vh /10);
}


body {
    max-height: 100%;
    height: 100vh;
}

footer {
    max-height: 100%;
    height: 100vh;
}

p {
    padding: 10px;
}
/* --------------------------------------------------- */

.swim-date {
    font-weight:bold;    
}

h3 {
    padding: 0 !important;
    margin: 0 !important;
}

@media screen and (max-width: 600px) {
    .level {
        max-width: 100%;
        padding: 0px;
        margin: 0px;
        border: none;
    }
}
