.extra-info {
    display: table-cell;
}

.dropdown-content,
.dropdown-button {
    display: none;
}

@media screen and (max-width: 600px) {
    .show {
        display:block;        
    }

    .extra {
        display:none;
    }

    .extra-info {
        display: none;
    }
    .dropdown-content {
        display: none;
    }
    .dropdown-content.show {
        display: table-row;
    }
    .dropdown-button {
        display: table-cell !important;
    }
}
